.banner__buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.banner__button--primary {
	/* box */
	border: unset;
	outline: none;
	padding: 1rem 2rem;
	margin-right: 1rem;
	border-radius: 5px;
	/* style */
	background: rgba(165, 42, 42, 0.548);
	color: var(--color-light);
	/* font */
	font-size: 20px;
	/* display */
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner__button--primary:hover {
	background: brown;
	cursor: pointer;
}

.banner__button--secondary {
	/* box */
	outline: none;
	border: unset;
	width: 95.94px;
	height: 43px;
	padding: 1rem 2rem;
	margin-right: 1rem;
	border-radius: 5px;
	/* display */
	display: flex;
	align-items: center;
	justify-content: center;
	/* other */
	font-size: 20px;
	background: rgba(245, 245, 245, 0.616);
}

.banner__button--secondary:hover {
	color: var(--color-dark);
	background: var(--color-light);
	cursor: pointer;
}

.trailer__popUp-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	max-height: 50px;
	cursor: pointer;
}
