.signin__bg form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 400px;
}
.signin__container {
  padding: 3rem 1rem;
  backdrop-filter: blur(5px);
  background-color: #191919a6;
  box-shadow: 2px 2px 4px #f5f5f598;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.signin__bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  text-decoration: unset;
}

.signin__bg form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  font-size: 1rem;
  color: #f5f5f5;
  letter-spacing: 0.15rem;
}

.signin__bg form button {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
  border: unset;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.55rem;
}
.signin__bg form button:hover {
  transform: scale(1.08);
}
.signin__container .link__button {
  margin-top: 2rem;
}
.support {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
