.nav {
	display: flex;
	flex-direction: row;
	height: 100px;
	padding: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: var(--color-dark);
	letter-spacing: 0.15rem;
	background-color: var(--color-light);
}

.nav__logo {
	font-weight: 800;
	letter-spacing: 0.45rem;
	font-size: 3.5rem;
}

.nav__right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.nav__menu {
	height: 100%;
}

.nav__menu ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	/* background-color: aquamarine; */
}
.nav__menu ul li {
	font-size: 2.5;
	margin-left: 0.5rem;
	padding: 0.5rem 1rem;
	font-weight: 600;
	cursor: pointer;
}

.nav__menu ul li:hover {
	transform: scale(1.08);
	font-weight: 700;
}

.nav__catagory-btn,
.nav__menu-btn {
	height: 30px;
	width: 30px;
}
.nav__menu-btn {
	display: none;
	margin-left: 1rem;
}
.nav__catagory-popUp,
.nav__menu-popUp {
	position: fixed;
	bottom: 0px;
	left: 0;
	top: 0;
	background: var(--color-light);
	padding: 2rem;
	border-radius: 0 30px 30px 0;
	width: 250px;
	height: 100vh;
	overflow-y: scroll;
	z-index: 101;
}
.nav__catagory-mobile ul,
.nav__menu-mobile ul {
	display: flex;
	align-items: center;
	list-style: none;
	font-size: 2rem;
	font-weight: 500;
	height: 100%;
	text-align: left;
	flex-direction: column;
}

.nav__catagory-mobile ul li,
.nav__menu-mobile ul li {
	padding: 0.5rem 1rem;
	width: 100%;
	cursor: pointer;
}

.nav__menu-mobile ul li:hover {
	background: var(--color-dark);
	color: var(--color-light);
	font-weight: 600;
}
@media screen and (max-width: 768px) {
	.nav {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1001;
	}
	.nav__logo {
		font-weight: 600;
		letter-spacing: 0.45rem;
		font-size: 2.5rem;
	}

	.nav__buttons,
	.nav__catagory-btn,
	.nav__menu-btn {
		display: flex;
	}

	.nav__menu {
		display: none;
	}

	.nav__catagory-popUp,
	.nav__menu-popUp {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: var(--color-light);
		padding: 2rem 2rem 4rem;
		border-radius: 0 0 30px 30px;
		width: 100vw;
		height: max-content;
        max-height: 60vh;
		overflow-y: scroll;
		z-index: 101;
	}
}
