.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Homepage__bg {
  width: 100vw;
  overflow: hidden;
}

ul li a {
    text-decoration: none;
    color: inherit !important;
    
}