.banner__bg {
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner__info {
	width: 40%;
	height: 100%;

	padding: 10% 3rem 5rem;
	position: relative;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.banner__description {
	text-align: justify;
	height: max-content;
	overflow: hidden;
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
	.banner__info {
		padding: 3rem;
		width: 100%;
	}
	.banner__button {
		margin-right: 1rem;
		padding: 0.5rem 1rem;
		font-size: 1rem;
	}
}
